* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {

    --burgundy: #800020;
    --champagne: #F7E7CE;
    --gold: #D4AF37;
    --cream: #FFF8F0;

}

body {

    line-height:1.6;
    color:#4a2c2a;
    background:var(--cream);

}

.hero {

height:100vh;

background:
linear-gradient(
rgba(80,0,20,0.65),
rgba(80,0,20,0.65)
),
url("images/couple.jpg");

background-size:cover;
background-position:center;

}



nav {

    display:flex;
    justify-content:space-between;
    padding:25px 8%;

}


nav ul {

    display:flex;
    list-style:none;
    gap:25px;

}


nav a {

    color:white;
    text-decoration:none;

}



.hero-content {

    text-align:center;
    margin-top:150px;

}


.hero-content h1 {

    font-size:40px;

}



.button {

    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#b76e79;
    color:white;
    text-decoration:none;
    border-radius:25px;

}



section {

    padding:70px 10%;
    text-align:center;

}



section h2 {

    font-size:35px;
    margin-bottom:30px;

}



.cards {

    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;

}


.card {

    background:#f8f8f8;
    padding:30px;
    width:300px;
    border-radius:10px;

}



.gallery {

    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

}



.gallery img {

    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:10px;

}



button {

    padding:12px 25px;
    border:none;
    background:#b76e79;
    color:white;
    border-radius:25px;
    cursor:pointer;

}



footer {

    background:#222;
    color:white;
    text-align:center;
    padding:20px;

}



@media(max-width:700px){

nav {

    flex-direction:column;
    align-items:center;

}


.hero-content h1 {

    font-size:28px;

}


}